<?xml version="1.0"?>
<robot name="testbot">

    <link name="base_link">
        <inertial>
            <mass value="50" />
            <origin xyz="0 0 -1.25" />
            <inertia ixx="50.0" ixy="0.0" ixz="0.0"
                iyy="50.0" iyz="0.0"
                izz="50.0" />
        </inertial>
        <visual>
            <geometry>
                <box size="0.5 0.5 1" /> <!-- does not need to match collision -->
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 -1.0" />
            <geometry>
                <box size="0.5 0.5 1" /> <!-- does not need to match collision -->
            </geometry>
        </collision>
    </link>

    <link name="left_contact">
        <inertial>
            <mass value="5" />
            <origin xyz="0 0 0" />
            <inertia ixx="5.0" ixy="0.0" ixz="0.0"
                iyy="5.0" iyz="0.0"
                izz="5.0" />
        </inertial>
        <visual>
            <geometry>
                <box size="0.05 0.05 0.05" /> <!-- does not need to match collision -->
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 -1.0" />
            <geometry>
                <box size="0.05 0.05 0.05" /> <!-- does not need to match collision -->
            </geometry>
        </collision>
    </link>

    <joint
        name="left_contact_joint" type="fixed">
        <origin xyz="-0.25 0 0" rpy="0 0 0" />
        <parent link="base_link" />
        <child link="left_contact" />
    </joint>

    <gazebo reference="left_contact_joint">
        <provideFeedback>true</provideFeedback>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_left_ft_sensor" filename="libgazebo_ros_f3d.so">
            <updateRate>100.0</updateRate>
            <topicName>force_feed_back</topicName>
            <bodyName>base_link</bodyName>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros_force" filename="libgazebo_ros_force.so">
          <alwaysOn>true</alwaysOn>
          <update>100</update>
          <updateRate>100.0</updateRate>
          <bodyName>left_contact</bodyName>
          <topicName>force</topicName>
          <commandTopic>cmd_vel</commandTopic> 		
          <odometryTopic>odom</odometryTopic> 
          <odometryFrame>odom</odometryFrame>
          <odometryRate>100.0</odometryRate> 
          <robotBaseFrame>left_contact</robotBaseFrame> 
          <publishOdometryTf>true</publishOdometryTf> <yaw_velocity_p_gain>500</yaw_velocity_p_gain> <x_velocity_p_gain>1000</x_velocity_p_gain> <y_velocity_p_gain>1000</y_velocity_p_gain> <cmdVelTimeOut>0.25</cmdVelTimeOut>
        </plugin>
    </gazebo>


</robot>